

.track-status-container {
    padding: 280px;
    background: linear-gradient(to left, rgba(245, 245, 245, 0.8), rgba(200, 214, 229, 0.8), rgba(245, 245, 245, 0.8), rgba(240, 236, 226, 0.8));
}

.track-status-container h2 {
    color: #07315B;
}
